@media (min-width: 1024px) {
    .contenedor-formulario{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contenedor-formulario form{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contenedor-formulario form div{
        width: 100%;
        
    }
}