<div class="contenedorFooter">
  <div style="color: white">
    <h5 class="titulos">Ten Salud Oral</h5>
    <p class="parrafos">Cra. 29 #30-06, El Carmen de Viboral, Antioquia</p>
    <p class="parrafos">Lunes a Viernes de 6:00am a 8:00pm Jornada Continua</p>
    <p class="parrafos">Sabados de 9:00am a 4:00pm</p>
    <a
      href="https://api.whatsapp.com/send/?phone=573148924108&text&type=phone_number&app_absent=0"
      target="_blank" 
      class="parrafos"
      ><i class="fa-solid fa-mobile-screen"></i>  314 892 4108</a
    >
    <p class="parrafos"><i class="fa-solid fa-paper-plane"></i> tensaludintegral@gmail.com</p>
  </div>
  <div style="color: white">
    <h5 class="titulos">Especialidades</h5>
    <p class="parrafos">Ortodoncia</p>
    <p class="parrafos">Periodoncia</p>
    <p class="parrafos">Endodoncia</p>
    <p class="parrafos">Maxilofacial</p>
    <p class="parrafos">Odontopediatria</p>
  </div>
  <div class="centrar">
    <h5 class="titulos">Siguenos</h5>
    <div>
      <a href="https://www.instagram.com/tensaludoral/" target="_blank"><img src="assets/Redes/igwhite.png" width="50px" alt="insta"></a>     
    </div>    
  </div>
  
</div>
<div  class="anchoDerechos">
  <p class="parrafos">Ten Salud Oral 2022. Todos los Derechos Reservados</p>
</div>
