<div class="ServiciosContenedor">
  <div class="felxCards">
    <div class="card CardsContenedor">
      <img src="assets/Imagenes/odontogeneral.jpg" class="card-img-top" alt="odontogeneral">
      <div class="card-body">
        <h5 class="card-title titulos">Odontología General y Estética</h5>
        <p class="card-text parrafos" style="text-align: left;">Es la especialidad encargada de prevenir,diagnosticar y tratar aquellos problemas primarios relacionados con los dientes las encías y la lengua.</p>
        
      </div>
      <a href="/especialistas#jaime" class="btn btn-success subtitulos " style="background-color: rgb(167, 191, 48); color: white; ">Conoce Nuestros Especialistas</a>
    </div>
  </div>
  <div class="felxCards">
    <div class="card CardsContenedor"> 
      <img src="assets/Imagenes/ortodoncia 2.jpg" class="card-img-top" alt="Ortodoncia">
      <div class="card-body">
        <h5 class="card-title titulos">Ortodoncia</h5>
        <p class="card-text parrafos" style="text-align: left;">Es el encargado del alineamiento de los dientes por medio brackets .</p>
        
      </div>
      <a href="/especialistas#Jeovanny" class="btn btn-success subtitulos " style="background-color: rgb(167, 191, 48); color: white; ">Conoce Nuestros Especialistas</a>
    </div>
  </div>
  <div class="felxCards">
    <div class="card CardsContenedor"> 
      <img src="assets/Imagenes/periodoncia.jpg" class="card-img-top" alt="Periodoncia">
      <div class="card-body">
        <h5 class="card-title titulos">Periodoncia</h5>
        <p class="card-text parrafos" style="text-align: left;">Es un odontólogo especializado en la prevención,diagnóstico y tratamiento de infecciones y enfermedades asociadas al hueso y a la encía  (tejidos que soportan el diente).</p>
        
      </div>
      <a href="/especialistas#anny" class="btn btn-success subtitulos " style="background-color: rgb(167, 191, 48); color: white; ">Conoce Nuestros Especialistas</a>
    </div>
  </div>
  <div class="felxCards">
    <div class="card CardsContenedor"> 
      <img src="assets/Imagenes/endodoncia.jpg" class="card-img-top" alt="Endodoncia">
      <div class="card-body">
        <h5 class="card-title titulos">Endodoncia</h5>
        <p class="card-text parrafos" style="text-align: left;">Es el encargado de tratar el nervio del diente y su debido tratamiento (relleno de conductos con material inerte).</p>
        
      </div>
      <a href="/especialistas#jaime" class="btn btn-success subtitulos " style="background-color: rgb(167, 191, 48); color: white; ">Conoce Nuestros Especialistas</a>
    </div>
  </div>
  <div class="felxCards">
    <div class="card CardsContenedor"> 
      <img src="assets/Imagenes/pediatria.jpg" class="card-img-top" alt="Pediatria">
      <div class="card-body">
        <h5 class="card-title titulos">Odontopediatría</h5>
        <p class="card-text parrafos" style="text-align: left;">Es la encargada de atender a los más pequeños y sus alteraciones tanto dentales como óseas por medio de aparatos.</p>
        
      </div>
      <a href="/especialistas#aura" class="btn btn-success subtitulos " style="background-color: rgb(167, 191, 48); color: white; ">Conoce Nuestros Especialistas</a>
    </div>
  </div>
  <div class="felxCards">
    <div class="card CardsContenedor"> 
      <img src="assets/Imagenes/cirugia.jpg" class="card-img-top" alt="Cirugia">
      <div class="card-body">
        <h5 class="card-title titulos">Cirugía Oral</h5>
        <p class="card-text parrafos" style="text-align: left;">es un odontólogo especializado encargado en la extracción de órganos dentales retenidos como (los terceros molares o muelas del juicio) lesiones y tumores del hueso.</p>
        
      </div>
      <a href="/especialistas#gustavo" class="btn btn-success subtitulos " style="background-color: rgb(167, 191, 48); color: white; ">Conoce Nuestros Especialistas</a>
    </div>
  </div>
  <div class="felxCards">
    <div class="card CardsContenedor"> 
      <img src="assets/Imagenes/rehabilitacion.jpg" class="card-img-top" alt="Rehabilitacion">
      <div class="card-body">
        <h5 class="card-title titulos">Rehabilitacion Oral</h5>
        <p class="card-text parrafos" style="text-align: left;">Área de la odontologia que se encarga de restablecer forma función y estética por proceso de pérdidas de estructuras dentales.</p>
      </div>
      <a href="#" class="btn btn-success subtitulos " style="background-color: rgb(167, 191, 48); color: white; ">Conoce Nuestros Especialistas</a>
    </div>
    
  
</div>
  
  
  
  

 

  


