<div class="contenedorValoracion">
  <div class="contenido">
    <h1 class="titulos">
      <i class="fa-solid fa-circle-check"></i> SELECCIONA TUS TRATAMIENTOS PARA
      DARTE UN ACERCAMIENTO AL PRECIO ACTUAL
    </h1>
    <form [formGroup]="valoracion" (ngSubmit)="calcular()">
      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="odontoGeneral"
          type="checkbox"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Odontologia General
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="ortodoncia"
          type="checkbox"
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Ortodoncia
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="periodoncia"
          type="checkbox"          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Periodoncia
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="endodoncia"
          type="checkbox"          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Endodoncia
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="odontopediatria"
          type="checkbox"          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Odontopediatria
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="ciruOral"
          type="checkbox"          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Cirugia Oral
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          formControlName="rehabiOral"
          type="checkbox"          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Rehabilitación Oral
        </label>
      </div>

      <button type="submit" class="btn btn-secondary">Cotizar</button>
    </form>
    <app-citas-correo></app-citas-correo>
  </div>
</div>
<section id="Footer" class="Secciones">
  <app-footer></app-footer>
</section>
