h5 {
  font-size: 1rem;
}

.fondo {
  background-image: url("/assets/Fondos/fondo1-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.CardsContenedor {
  min-height: 56vh;
  margin-right: 10px;
}

a {
  position: absolute;
  margin: 0 auto;
  width: 80%;
  left: 1rem;
  bottom: 0;
  background-color: rgb(167, 191, 48);
}

span {
  font-size: 2rem;
  color: rgb(167, 191, 48);
  margin-right: 10px;
}
span:hover {
  color: rgb(195, 219, 74);
}

@media (min-width: 768px) {
    a{
        position:unset;
        margin:unset;
        width: 40%;
        left: unset;
        bottom: unset;
    }
}

@media (min-width: 1024px) {
    .CardsContenedor {
        width: 80%;
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .CardsContenedor {
        width: 64%;
        margin-right: 0;
    }
    span {
        font-size: 3rem;
        margin-right: 100px;
      }
}
