<div class="fondo">
  <div class="titulos">
    <h1>Estas en las mejores manos</h1>
  </div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let slide of slides">
      <!-- <img width="99%" [src]="slide?.img" alt="img" />
      <h5 class="titulos">{{slide?.description}}</h5>
      <p class="parrafos">{{slide?.especiality}}</p>
      <button class="btn btn-success">Conocer</button> -->
      <div class="card d-block CardsContenedor">
        <img [src]="slide?.img" class="card-img-top" alt="img" />

        <div class="card-body">
          <h5 class="card-title titulos" style="text-align: center">
            {{ slide?.description }}
          </h5>
          <p class="card-text parrafos">{{ slide?.especiality }}</p>
        </div>
        <a class="btn btn-success mb-3" href="{{ slide?.linkButton }}"
          >conóceme</a
        >
      </div>
    </div>
  </ngx-slick-carousel>
  <span><i class="fa-solid fa-circle-left" (click)="prevImg()"></i></span>
  <span><i class="fa-solid fa-circle-right" (click)="nextImg()"></i></span>
</div>
