<div class="titulos">
    <h1>Estas en las mejores manos</h1>
</div>
<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card d-block CardsContenedor" >
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title subtitulos" style="text-align: center;">ANNY MARCELA VIVARES BUILES</h5>
          <p class="card-text parrafos">
            Periodoncista.
          </p>

        </div>
      </div>
    </div>
    <div class="carousel-item">
        <div class="card d-block CardsContenedor" >
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title subtitulos" style="text-align: center;">JAIME ALBERTO ARBELAEZ PINEDA</h5>
              <p class="card-text parrafos">
                Endodoncista.
              </p>
    
            </div>
          </div>
    </div>
    <div class="carousel-item">
        <div class="card d-block CardsContenedor" >
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title subtitulos" style="text-align: center;">GUSTAVO ADOLFO JIMENEZ ARBELAEZ</h5>
              <p class="card-text parrafos">
                Cirujano maxilofacial.
              </p>
    
            </div>
          </div>
    </div>
    <div class="carousel-item">
      <div class="card d-block CardsContenedor" >
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title subtitulos" style="text-align: center;">DIEGO ALEJANDRO ARBELAEZ PINEDA</h5>
            <p class="card-text parrafos">
              Ortodoncista.
            </p>
  
          </div>
        </div>
  </div>
  <div class="carousel-item">
    <div class="card d-block CardsContenedor" >
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title subtitulos" style="text-align: center;">AURA CATALINA LLANO POSADA</h5>
          <p class="card-text parrafos">
            Odontopediatra.
          </p>

        </div>
      </div>
</div>
<div class="carousel-item">
  <div class="card d-block CardsContenedor" >
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title subtitulos" style="text-align: center;">UBIER JEOVANNY LOPEZ GALEANO</h5>
        <p class="card-text parrafos">
          Ortodoncista.
        </p>
      </div>
    </div>
</div>
  </div>
</div>
