<div class="flexCards">
  <div class="titulos">
    <h1>Estas en las mejores manos</h1>
  </div>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide carouselTam"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card d-block">
          <span>
            <img
              src="assets/Imagenes/ani periodoncista.jpeg"
              class="card-img-top"
              alt="..."
            />
          </span>
          <div class="card-body">
            <h5 class="card-title titulos" style="text-align: center">
              ANNY MARCELA VIVARES BUILES
            </h5>
            <p class="card-text parrafos">Periodoncista.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card d-block CardsContenedor">
          <span>
            <img
              src="assets/Imagenes/JaimeOrtiz.jpeg"
              class="card-img-top"
              alt="..."
            />
          </span>
          <div class="card-body">
            <h5 class="card-title titulos" style="text-align: center">
              JAIME ALBERTO ORTIZ MAZO
            </h5>
            <p class="card-text parrafos">Odontologo.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card d-block CardsContenedor">
          <span>
            <img
              src="assets/Imagenes/guatavo cirujano.jpeg"
              class="card-img-top"
              alt="..."
            />
          </span>
          <div class="card-body">
            <h5 class="card-title titulos" style="text-align: center">
              GUSTAVO ADOLFO JIMENEZ ARBELAEZ
            </h5>
            <p class="card-text parrafos">Cirujano maxilofacial.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card d-block CardsContenedor">
          <span>
            <img src="assets/Imagenes/diego.jpg" class="card-img-top" alt="diego" />
          </span>
          <div class="card-body">
            <h5 class="card-title titulos" style="text-align: center">
              DIEGO ALEJANDRO ARBELAEZ PINEDA
            </h5>
            <p class="card-text parrafos">Ortodoncista.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card d-block CardsContenedor">
          <span>
            <img src="..." class="card-img-top" alt="..." />
          </span>
          <div class="card-body">
            <h5 class="card-title titulos" style="text-align: center">
              AURA CATALINA LLANO POSADA
            </h5>
            <p class="card-text parrafos">Odontopediatra.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card d-block CardsContenedor">
          <span>
            <img
              src="assets/Imagenes/ubier.jpeg"
              class="card-img-top"
              alt="..."
            />
          </span>
          <div class="card-body">
            <h5 class="card-title titulos" style="text-align: center">
              UBIER JEOVANNY LOPEZ GALEANO
            </h5>
            <p class="card-text parrafos">Ortodoncista.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card d-block CardsContenedor">
          <span>
            <img
              src="assets/Imagenes/jaime_alberto.jpg"
              class="card-img-top"
              alt="..."
            />
          </span>
          <div class="card-body">
            <h5 class="card-title titulos" style="text-align: center">
              JAIME ALBERTO ARBELAEZ
            </h5>
            <p class="card-text parrafos">Endodoncista.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
