<div class="contenedor-formulario">
    <form [formGroup]="formLogin" (ngSubmit)="submit()"> 
        <div class="form-group mb-2">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu Usuario" formControlName="usuario" >
          <small id="emailHelp" class="form-text text-muted">Recuerda no compartir tu usuario con ninguna persona.</small>
        </div>
        <div class="form-group mb-2">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="  Ingresa tu Contraseña" formControlName="contrasena">
        </div>        
        <button  type="submit" class="btn btn-ingreso mb-2">Ingresar</button>
        <button  type="button" class="btn btn-ingreso mb-2" (click)="registro()" >Registrate</button>
      </form>
      <div id="buttonDiv"></div>
</div>

<section id="Footer" class="Secciones">
  <app-footer></app-footer>
</section>
