.navbar-toggler {
  color: rgb(216, 217, 32);
}
.contenedor-btn-ingreso{
    display: flex;
    flex-direction: column;       
}

@media (min-width: 520px) {
}
@media (min-width: 800px) {
  
}
@media (min-width: 992px) {
  
  .contenedor-btn-ingreso{
    display: flex;
    flex-direction: row;       
}
}