<div >
  <h1 style="text-align: center;" class="titulos">Nuestras alianzas para ti</h1>
  <div class="alianzas">
    <div class="fondo">
      <span>
        <a href="https://cero70.com/" target="_blank"><img src="assets/Imagenes/cero70.png" alt="l1"/></a>    
      </span>
    </div>
    <div class="fondo">
      <span>
        <a href="https://imagenesyespecialistas.com/" target="_blank"><img src="assets/Imagenes/logoimgespecialistas2.png"  alt="l2" /></a>
      </span>
    </div>
  </div>
 
</div>
