.logo1{          
    width: 50%;    
}
.logo2{
    width: 40%;    
}
.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 6vh;
    background-color: rgb(109, 173, 149);
    border-radius: 10px; 
    text-align: center;   
}
.alianzas{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 520px) {
    .fondo{        
        width: 40%;
        height: 8vh;        
    }
    .logo1{          
        width: 60%;    
    }
    .logo2{
        width: 55%;    
    }
  }
  @media (min-width: 800px) {
    
  }
  @media (min-width: 1200px) {
    
  }