<div class="contenedorEspecialistas">
  <div class="headerJaime">
    <section id="jaime"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Jaime Alberto Ortiz Mazo</h1>
      <h5 class="parrafos">Odontólogo</h5>
    </div>
  </div>  
  <div class="contenedor">
    <span id="añosExperiencia">
    <span id="añosExperiencia">
      <h1 class="subtitulos">27 años de experiencia</h1>
      <p class="parrafos">
        Fundador de la clínica TEN SALUD ORAL en enero del 2017 la cual lleva
        prestando sus servicio en el actual local con amplia aceptación de la
        comunidad carmelitana, teniendo todas las especialidades de la
        odontología y proyectando todo el aprendizaje en sistemas de calidad a
        una proyección del mas alto nivel en calidad científico técnica. He
        participado activamente en el Sistemas de Calidad con certificación ISO
        9001 versión 2000 desde 2004 y que ha desarrollado de manera activa los
        estándares la Acreditación en Salud con miras a su respectiva
        certificación Auditor interno de calidad de la E.S.E San Juan de Dios de
        El Carmen de Viboral. He participado en auditoría interna de calidad en
        el concejo municipal de El Carmen de Viboral), empresas Certificadas ISO
        9001. Con conocimiento en estética dental desarrollando el diplomado de
        estética dental e implantología en el año 2008 en la universidad CES
        facultad de odontología Con experiencia de 27 años que otorga la
        posibilidad de adaptarse al desarrollo de las practicas mas avanzadas en
        la prestación de servicion de salud oral es el caso de que en la clínica
        TEN SALUD ORAL contamos con estándares de calidad técnica en la
        prestación de servicios de scaner, magnificación con microscopio y
        proyectándonos en la impresión 3d. siempre con la proyección de ser un
        referente en la atención en salud no solo para la comunidad carmelitana
        sino para el oriente antioqueño y para familiares y amigos que nos
        visiten desde el exterior.
      </p>
    </span>
    <span id="historial">
    </span>
    <span id="historial">
      <h1 class="subtitulos">Historial de Estudios</h1>
      <li class="parrafos">
        Actualización en ISO 19011.2011 Icontec internacional.
      </li>
      <li class="parrafos">
        Auditoria para el Mejoramiento de la calidad en salud Ministerio de la
        Protección Social.
      </li>
      <li class="parrafos">
        Diplomado en odontología estética e implantología Universidad Ces.
        Medellín, 2009.
      </li>
      <li class="parrafos">
        Formación de Auditores Internos de Calidad en la norma ISO 9000:2000
        Hospital San Juan de Dios El Carmen de Viboral El Carmen de Viboral,
        2003,2004
      </li>
      <li class="parrafos">
        Actualización en patología y cirugía oral Hospital Universitario San
        Vicente De Paul Medellín
      </li>
      <li class="parrafos">
        1er curso de Gerencia y Merketing en odontología Asociación
        latinoamericana de Gerenciamiento Odontológico. Medellín
      </li>
      <li class="parrafos">Gerencia de la salud oral Universidad ces</li>
      <li class="parrafos">
        Entrenamiento con el doctor CESAR MALDONADO en su práctica clínica en
        rehabilitación sobre implantes dentales y lentes cerámicos
      </li>
      <li class="parrafos">
        Entrenamiento en preparación, y cementación de lentes cerámicos con el
        doctor RICARDO DUQUE
      </li>
      <li class="parrafos">
        Entrenamiento en carilla directas con el doctor Daniel zabaleta
      </li>
      <hr />
    </span>
    </span>
  </div>
  <div class="headerGustavo">
    <section id="gustavo"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Gustavo Adolfo Jiménez Arbeláez</h1>
      <h5 class="parrafos">Cirujano Oral y Maxilofacial</h5>
    </div>
  </div>
  
  <div class="headerGustavo">
    <section id="gustavo"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Gustavo Adolfo Jiménez Arbeláez</h1>
      <h5 class="parrafos">Cirujano Oral y Maxilofacial</h5>
    </div>
  </div>
  
  <div class="contenedor">
    <p class="parrafos">
      Soy Cirujano Oral y Maxilofacial, capacitado científica y técnicamente en
      el manejo de los trastornos de la ATM, patología buco maxilofacial,
      cirugía ortognática, traumatología craneofacial, cirugía oral menor, entre
      otros. Comprometido en las transformaciones académicas, fomentando,
      cultivando, generando y transmitiendo conocimientos.
    </p>
    <span id="añosExperiencia">
    <span id="añosExperiencia">
      <h1 class="subtitulos">14 años de experiencia</h1>
      <p class="parrafos">
        como odontólogo 14 años y como Cirujano Oral y Maxilofacial 6. Docente
        Universitario
      </p>
    </span>
    <span id="historial">
    </span>
    <span id="historial">
      <h1 class="subtitulos">Especialidad y otros estudios</h1>
      <li class="parrafos">
        Cirugía Oral y Maxilofacial Universidad de Antioquia – HUSVF, Medellín
        2016.
      </li>
      <li class="parrafos">
        Diplomado Urgencias y Trauma dentoalveolar, Universidad de Antioquia,
        Medellín 2009.
      </li>
      <hr />
      <h1 class="subtitulos">Artículos y publicaciones</h1>
      <li class="parrafos">
        Capitulo de Libro: Enfisema Subcutáneo en la región maxilofacial.
        Diagnóstico y Tratamiento. Radi L. J, Villegas A. F. Complicaciones en
        cirugía bucal. Aspectos claves. Primera Edición. 2018. CIB.
      </li>
      <li class="parrafos">
        Tobón. A.S, Jiménez. A.G, Alvarado. G.V, Isaza. G.D, Flórez. MG, Pérez.
        CM. Association analysis between rs6184 and rs6180 polymorphins of
        grownth hormone receptor gene regarding skeletal facial profile in a
        Colombian population. European journal of orthodontics. 2017 1-9.
      </li>
      <hr />
      <h1 class="subtitulos">Estudios de educación continua</h1>
      <li class="parrafos">
        Capacitación en implantes Cigomáticos Neodent, 03 agosto 2022
      </li>
      <li class="parrafos">
        Congreso de complicaciones en cirugía oral y maxilofacial. 02 junio
        2021.
      </li>
      <li class="parrafos">
        The different approaches to the TMJ. 18 junio 2020.
      </li>
      <li class="parrafos">
        Alternativas farmacológicas en el paciente adulto mayor. Pautas para un
        manejo racional. Medellín 30 mayo 2020.
      </li>
      <li class="parrafos">Unylateral condylar hyperplasia. 21 mayo 2020.</li>
      <li class="parrafos">
        Individual patient specific solutions for midface reconstruction. 14
        mayo 2020.
      </li>
      <li class="parrafos">
        Lesiones elemantales y descripción de lesiones. 12 mayo 2020.
      </li>
      <li class="parrafos">
        Basic aspects in trauma surgery of thew mandibule. 29 abril 2020.
      </li>
      <li class="parrafos">Mandible reconGuide. 16 abril 2020.</li>
      <li class="parrafos">
        XLIV congreso nacional ACCOMF Cartagena 12-13-14 marzo 2020.
      </li>
      <li class="parrafos">
        XLIII congreso nacional ACCOMF Bucaramanga 07-08-09 marzo 2019.
      </li>
      <hr />
    </span>
    </span>
  </div>
  <div class="headerAni">
    <div class="infoEspecialista">
      <h1 class="titulos">Anny Marcela Vivares Builes</h1>
      <h5 class="parrafos">Peridoncista</h5>
    </div>
  </div>
  <section id="anny"></section>
  <div class="headerAni">
    <div class="infoEspecialista">
      <h1 class="titulos">Anny Marcela Vivares Builes</h1>
      <h5 class="parrafos">Peridoncista</h5>
    </div>
  </div>
  <section id="anny"></section>
  <div class="contenedor">
    <span id="añosExperiencia">
    <span id="añosExperiencia">
      <h1 class="subtitulos">6 años de experiencia</h1>
      <p class="parrafos">
        Me identifico como una Especialista en Odontología integral con énfasis
        en Periodoncia con una formación integral y de calidad, altamente
        dedicada en mi trabajo, proactiva, crítica, responsable y con una gran
        capacidad de liderazgo. Me destaco por mi formación ética tanto en el
        ejercicio de mi profesión como en mi vida cotidiana. Soy una profesional
        con experiencia en investigación en las líneas Biopsicosociales y
        Básicas; en Docencia Universitaria con un alto compromiso en los
        procesos de transformación social, capaz de atender las necesidades
        individuales y colectivas de la salud en su componente bucal en la
        población, asumo los procesos investigativos como elementos esenciales
        en la atención odontológica a través de prácticas basadas en la
        evidencia científica.
      </p>
    </span>
    <span id="historial">
    </span>
    <span id="historial">
      <p class="parrafos">
        cuenta con 11 años de experiencia como odontóloga y como Periodoncista 6
        años. Docente Universitario de Pregrado y Posgrado Clínica de
        Investigación y de Odontología Basada en la Evidencia
      </p>
      <hr />
      <h1 class="subtitulos">Artículos y publicaciones</h1>
      <li class="parrafos">
        Ardila, Carlos M., and Annie Marcela Vivares-Builes. "Clinical Efficacy
        of Treatment of Endodontic-Periodontal Lesions: A Systematic Scoping
        Review of Experimental Studies." International Journal of Environmental
        Research and Public Health 19.20 (2022): 13649.
      </li>
      <li class="parrafos">
        Ardila, Carlos‐M., Daniel Esteban Arrubla‐Escobar, and Annie Marcela
        Vivares‐Builes. "Oral lesions in patients with human monkeypox: a
        systematic scoping review." Journal of Oral Pathology & Medicine (2022).
      </li>
      <li class="parrafos">
        Builes, Anny Marcela Vivares, et al. "Manejo multidisciplinario de
        canino superior retenido en vestibular con técnica VISTA y alternativas
        ortodóncicas. Revisión exploratoria apoyada en casos." Universitas
        Odontologica 40 (2021).
      </li>
      <li class="parrafos">
        Álvarez-Hernández A, García-Ocampo L, Henao-Restrepo L, Higuita-Tabares
        J, Zapata-Naranjo A, Agudelo- Suárez AA, et Vivares- Builes A. Condición
        periodontal y calidad de vida relacionada con la salud bucal en un grupo
        de pacientes con enfermedad de Parkinson. Revista Nacional de
        Odontología. (2021); 17(2), 1-20. doi:
        https://doi.org/10.16925/2357-4607.2021.02.02
      </li>
      <li class="parrafos">
        Andrés A. Agudelo‐Suárez, Natalia Muñoz‐Pino, Annie M. Vivares‐Builes,
        Elena Ronda‐Pérez. Oral Health and Oral Health Service Utilization in
        Native and Immigrant Population: A Cross‐Sectional Analysis from the
        PELFI Cohort in Spain. Journal of Immigrant and Minority Health. 09
        january 2020
      </li>
      <li class="parrafos">
        Andrés A. Agudelo-Suárez, Annie M. Vivares-Builes, Natalia Muñoz-Pino,
        José Miguel Martínez-Martínez, Alison Reid, Elena Ronda-Pérez.Oral
        Health-Related Quality of Life in Native and Immigrant Populations in
        the PELFI Cohort in Spain
      </li>
      <li class="parrafos">
        Sánchez Uribe, L. A., Upegui Zea, J. C., Urrea Guarín, A. M., Galeano
        Maldonado, I., & Vivares Builes, A. (2019). Comparación del movimiento
        del canino y molar superior utilizando elásticos de clase II con y sin
        Sliding Jig: Un ensayo clínico aleatorizado. Revista Nacional De
        Odontología, 15(29), 1-18. https://doi.org/10.16925/2357-4607.2019.02.03
      </li>
      <li class="parrafos">
        Carlos M, Vivares-Builes AM, Agudelo-Suárez Andrés A. Influence of the
        Socio- Economic Context on Self-Reported Gingival Bleeding in
        Individuals of Ethnic Minority Groups: A Multilevel Analysis Global
        Journal of Health Science; Vol. 8, No. 2; 2015.
      </li>
      <li class="parrafos">
        Am. Vivares-Builes, L. Rangel-Rincón, Je. Botero Agudelo-Suárez, Gaps in
        knowledge about the association between maternal periodontitis and
        adverse obstetric outcomes: an umbrella review. The journal of
        evidence-based dental practice Volume 18, Number 1
      </li>
      <li class="parrafos">
        Am. Vivares-Builes, L. Rangel-Rincón, Je. Botero Agudelo-Suárez An
        umbrella review exploring the effect of periodontal treatment in
        pregnant women on the frequency of adverse obstetric outcomes
      </li>
      <li class="parrafos">
        Agudelo-Suárez, A. A.; Vivares-Builes, A. M.; Posada-López, A.;
        SánchezPatiño,D. & Meneses-Gómez,E. J. Use of oral health services in
        elderly population in Colombia: Paradoxes and controversies. Int.
        J.Odontostomat.,9 (1):5-11, 2015.
      </li>
      <li class="parrafos">
        Andrés A. Agudelo-Suárez, Lina M. Martínez-Flórez, Vivares-Builes Annie
        MLuis Miguel Madrid-Gutiérrez, Anderson Rocha-Buelvas Panorama de la
        fluorosis dental en Colombia: Una revisión exploratoria de la
        literatura, Univ Odontol. 2013 Ene- Jun; 32(68): 133-145. ISSN 0120-4319
      </li>
      <hr />
      <h1 class="subtitulos">Estudios de educación continua</h1>
      <li class="parrafos">
        Cirugía plástica periodontal y su rol en la PerioOrtodoncia 21,23,23 de
        octubre de 2022 Medellín
      </li>
      <li class="parrafos">
        Medicina Critica Periimplantar 18 y 19 de noviembre de 2022 Medellín.
      </li>
      <li class="parrafos">
        Cirugía plástica reconstructiva manejo interdisciplinario
        perio-orto-prosto Medellín 10,11,12 de junio de 2021.
      </li>
      <hr />
    </span>
    </span>
  </div>
  <div class="headerJeovannny">
    <section id="Jeovanny"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Ubier Jeovanny López Galeano</h1>
      <h5 class="parrafos">Especialista Clínico en Ortodoncia</h5>
    </div>
  </div>
  <div class="contenedor">
    <p class="parrafos">
      Soy odontólogo especialista en ortodoncia, apasionado por mi trabajo; me
      gusta reconstruir sonrisas llenas de naturalidad, que brinden confianza a
      cada uno de mis pacientes para transmitir alegría y seguridad, por eso
      estoy en constante actualización, lo que me permite trabajar con
      conocimiento y amor para lograr los mejores resultados en cada uno de mis
      tratamientos.
    </p>
    <span id="añosExperiencia">
    <span id="añosExperiencia">
      <h1 class="subtitulos">16 años de experiencia</h1>
    </span>
    <span id="historial">
    </span>
    <span id="historial">
      <h1 class="subtitulos">Certificaciones</h1>
      <li class="parrafos">
        Ortodoncia con placas (Ortodoncia invisble): Invisalign, Smartee, Dental
        Line
      </li>
      <li class="parrafos">Ortodoncia autoligado Pitts 21</li>
      <li class="parrafos">Filosofía MEAW y medicina de la oclusión</li>
      <li>Ortodoncia Lingual</li>
      <li class="parrafos">Filosofía MBT en ortodoncia</li>
      <li class="parrafos">Odontología estética</li>
      <hr />
    </span>
    </span>
  </div>
  <div class="headerDiego">
    <section id="diego"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Diego Alejandro Arbeláez Pineda</h1>
      <h5 class="parrafos">Odontología integral del adolescente y Ortodoncia</h5>
    </div>
  </div>
  <div class="headerDiego">
    <section id="diego"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Diego Alejandro Arbeláez Pineda</h1>
      <h5 class="parrafos">Odontología integral del adolescente y Ortodoncia</h5>
    </div>
  </div>
  <div class="contenedor">
    <span id="añosExperiencia">
    <span id="añosExperiencia">
      <h1 class="subtitulos">15 años de experiencia</h1>
      <p class="parrafos">
        odontólogo de la Universidad CES y especialista en Odontología integral
        del adolescente y Ortodoncia de la U de A con una experiencia de más de
        15 años. He participado en diferentes cursos y capacitaciones de
        diferentes técnicas en ortodoncia inocuido la certificación INVISALIGN y
        DAMON. De buen trato a los pacientes y buscando siempre cumplir con las
        expectativas de cada uno de ellos
      </p>
    </span>
    <span id="historial">
    </span>
    <span id="historial">
      <h1 class="subtitulos">Certificaciones</h1>
      <li>certificación INVISALIGN y DAMON</li>
      <hr />
    </span>
    </span>
  </div>
  <div class="headerIvonne">
    <section id="ivonne"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Ivonne Daniela Chacon Tobar</h1>
      <h5 class="parrafos">Odontóloga general</h5>
    </div>
  </div>
  <div class="headerIvonne">
    <section id="ivonne"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Ivonne Daniela Chacon Tobar</h1>
      <h5 class="parrafos">Odontóloga general</h5>
    </div>
  </div>
  <div class="contenedor">
    <span id="añosExperiencia">
    <span id="añosExperiencia">
      <p class="parrafos">
        Soy una profesional que pone sus conocimientos al servicio de la comunidad
        para prevenir, identificar y resolver los problemas que alteran el proceso
        de salud-enfermedad en el área de salud bucal planteando tratamientos
        integrales que respondan a las necesidades de cada paciente.
      </p>
    </span>
    <span id="historial">
    </span>
    <span id="historial">
      <h1 class="subtitulos">Certificaciones</h1>
      <li>Diplomado en odontología estética.</li>
      <hr />
    </span>
    </span>
  </div>
  <div class="headerJaimeArbelaez">
    <section id="Jaime_Arbelaez"></section>
    <div class="infoEspecialista">
      <h1 class="titulos">Jaime Alberto Arbelaez</h1>
      <h5 class="parrafos">Odontólogo general y Endodoncista</h5>
    </div>
  </div>
  <div class="contenedor">
    <span id="añosExperiencia">
    <span id="añosExperiencia">
      <p class="parrafos">
        odontólogo de la Universidad CES y especialista en 
        tratamiento endodontico con magnificación.
      </p>
    </span>
    <span id="historial">
    </span>
    <span id="historial">
      <h1 class="subtitulos">Certificaciones</h1>
      <li>.</li>
      <hr />
    </span>
    </span>
  </div>
  
  
</div>

